<header class="bg-dark text-light px-5">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="pt-2">Shopping Ecommerce</h1>
        </div>
        <div class="pt-3">
            <button class="btn btn-outline-light" routerLink="/home">Home</button>

           <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                    Categories
                </button>
                    <ul class="dropdown-menu">
                        <ng-container *ngFor="let item of itemcategories; let i=index;">
                        <li class="dropdown-item text-center fw-bold">{{item.categories|titlecase}}</li>
                        <!-- el appHeaderProduct [categoria] esta enviando al @Input de la directiva HeaderProduct -->
                        <li *ngFor="let itemsub of item.subcategories"><a class="dropdown-item" [style.cursor]="'pointer'" appHeaderProduct [categoria]="{id: 0,
                            'category': item.categories,
                            'subCategory': itemsub}">{{itemsub|titlecase}}</a></li>
                        <li *ngIf="i!=itemcategories.length-1">
                            <hr class="dropdown-divider">
                        </li>
                        </ng-container>
                    </ul>
            </div>
        </div>
        <div class="pt-3">
            <ul class="btn-group" role="group">
                <li class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modalform" (click)="mostrarModal('login')">Login</li>
                <li class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modalform" (click)="mostrarModal('register')">Register</li>
                <li class="btn btn-outline-light" *ngIf="serviceUtility.estaLogeado()">Cuenta</li>
                <li class="btn btn-outline-light" routerLink="/cart" *ngIf="serviceUtility.estaLogeado()">Carrito <span class="bg-warning px-1 rounded text-dark">{{nroItem}}</span></li>
                <li class="btn btn-outline-light" routerLink="/orders" *ngIf="serviceUtility.estaLogeado()">Orders</li>
                <li class="btn btn-outline-light" (click)="serviceUtility.removeUser()" *ngIf="serviceUtility.estaLogeado()">Salir</li>
            </ul>
        </div>
    </div>
</header>

<!-- modal -->
<div class="modal fade" id="modalform" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" #modaltitle>Título del modal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" #container>
            
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Comprendido</button>
        </div> -->
      </div>
    </div>
  </div>