<header class="bg-dark text-light">
    <div>
        <div>
            <h1>Shopping Ecommerce</h1>
        </div>
        <div>
            <button>Home</button>

           <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Categories
                </button>
                    <ul class="dropdown-menu"  aria-labelledby="btnGroupDrop1">
                        <ng-container *ngFor="let item of itemcategories; let i=index;">
                        <li><a class="dropdown-item" href="#">{{item.categories|titlecase}}</a></li>
                        <li *ngFor="let item of item.subcategories"><a class="dropdown-item" href="#">{{item|titlecase}}</a></li>
                        </ng-container>
                    </ul>
            </div>

            
                        
        </div>
    </div>
</header>
