<div class="border border-dark mx-5">
    <div class="row">
        <!-- imagen -->
        <div class="col-4">
            <div class="d-flex justify-content-center align-items-center my-5">
                <img src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}/{{imageindex}}.webp" alt="" class="" style="max-width: 20rem; height: 20rem;">
            </div>
            <div class="image-thumbnail d-flex justify-content-center align-items-center gap-4 m-4">
                <img src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}/1.webp" alt="" (click)="imageindex=1">
                <img src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}/2.webp" alt="" (click)="imageindex=2">
                <img src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}/3.webp" alt="" (click)="imageindex=3">
                <img src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}/4.webp" alt="" (click)="imageindex=4">
                <img src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}/5.webp" alt="" (click)="imageindex=5">
            </div>
        </div>
        <!-- detalles -->
        <div class="col-8">
            <div class="card-header text-center">
                <h1 class="card-title">Header</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{product.title}}</h2>
                <h3 class="card-subtitle text-primary">{{product.quantity}} products disponibles</h3>
                <p class="card-text">{{product.description}}</p>
            </div>
        
            <div class="card-body">
                <h1 class="text-success">{{utilityService.calcularFinalPrice(product.price, product.offer.discount)}} <span class="text-primary">-20%</span></h1>
                <h2 class="text-danger text-decoration-line-through">S/.{{product.price}}</h2>
            </div>
            <div class="card-footer text-center d-grid gap-2">
                <button class="btn btn-outline-success">Add Cart</button>
            </div>
            <div>
                <h3>Descripcion</h3>
                <ul *ngFor="let item of ">
                    <li>{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <h2>Productos Sugeridos</h2>
        <div class="col-12">
            <app-lista-products></app-lista-products>
        </div>
    </div>
    <div class="row">
        <div class="col-6 p-4">
            <h3>Escribe un comentario</h3>
            <textarea cols="100" rows="4"></textarea>
            <div class="d-flex align-items-start mt-4">
                <button class="btn btn-outline-secondary">Save Review</button>
                <div class="ms-5">
                    <p class="text-danger">Registrate primero para que puedas escribir un comentario</p>
                    <p class="text-success">Tu Comentario ha sido guardado exitosamente</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3>Otros comentarios</h3>
            <h5 *ngIf="1">No tienes comentarios</h5>
            <div *ngFor="let item of [1,2,3]">
                <div class="card my-2 me-4">
                    <div class="card-header d-flex justify-content-between">
                        <p class="card-title"> Usuario Biscor</p>
                        <p class="card-title fst-italic">Publicado el: <span class="fw-bold"> {{"26 MAY 2023" | date:"dd-MMM-yyyy"}}</span></p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Comentario</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
