<div class="container-home border border-dark mx-5">
    <!-- Payment info -->
    <div class="d-flex justify-content-center col-3 my-3">
        <h2 class="border border-dark border-rounded rounded-pill px-5">Payment Info</h2>
    </div>
    <div class="col-6 d-flex-col justify-content-center align-items-center mx-auto">
        <button class="btn btn-outline-success col-12 mb-3">Order</button>
        <table class="table table-bordered border-dark col-12 shadow mx-auto">
            <tr class="">
                <td colspan="7" class="p-2">Total Items</td>
                <td colspan="5" class="fw-bold text-dark">{{cart.cartItems.length}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">Total Price</td>
                <td colspan="5" class="fw-bold text-danger">{{UserPaymentInfo.montoTotal}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">Shipping Charges</td>
                <td colspan="5" class="fw-bold text-danger">{{UserPaymentInfo.costoEnvio}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">Discount</td>
                <td colspan="5" class="fw-bold text-success">{{UserPaymentInfo.montoDescuento}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">You have to pay</td>
                <td colspan="5" class="fw-bold text-success">{{UserPaymentInfo.precioPagar}}</td>
            </tr>
        </table>
    </div>
    <!-- Metodo de Pago -->
    <div >
        <div class="d-flex justify-content-start col-auto m-4">
        <h2 class="border border-dark border-rounded rounded-pill px-5">Metodo de Pago</h2>
        </div>
        <div class="d-flex">
            <h4 class="col-6 d-flex justify-content-end pe-5">Seleccionar metodo de pago:</h4>
            <select class="form-select me-5" [formControl]="metodopagoform" >
                <option value="0">Seleccionar Pago</option>
                <option *ngFor="let metodopago of paymentMethods" value="{{metodopago.id}}">
                    {{metodopago.tipo}} <span *ngIf="metodopago.proveedor!=''"> - {{metodopago.proveedor}}</span>
                </option>
            </select>
        </div>
    </div>
    <!-- Datos de Pago -->
    <div class="d-flex justify-content-center col-3 my-3">
        <h2 class="border border-dark border-rounded rounded-pill px-5">Datos de Pago</h2>
    </div>
    <div class="col-6 d-flex-col justify-content-center align-items-center mx-auto" *ngIf="metodopagoname!=''">
        <table class="table table-bordered border-dark col-12 shadow mx-auto">
            <tr>
                <td class="p-2 col-7">Tu pago es</td>
                <td class="fw-bold text-dark col-5">{{UserPaymentInfo.precioPagar}}</td>
            </tr>
            <tr>
                <td  class="p-2 col-7">Metodo de pago</td>
                <td  class="fw-bold text-danger col-5">{{this.getformatoPayment(metodopagoname)}}</td>
            </tr>
            <tr>
                <td  class="p-2 col-7">Direccion</td>
                    <td *ngIf="true" colspan="5" class="fw-bold text-danger col-5">{{serviceUtility.getUser().address}} <a href="/misdatos">cambiar</a> </td>
                    <td *ngIf="false" colspan="5" class="fw-bold text-danger col-5">porfavor ingrese direccion <a href="/misdatos">cambiar</a> </td>
            </tr>
            <tr>
                <td  class="p-2 col-7">Telefono</td>
                    <td *ngIf="true"  class="fw-bold text-danger col-5">{{serviceUtility.getUser().mobile}}<a href="/misdatos">cambiar</a> </td>
                    <td *ngIf="false" class="fw-bold text-danger col-5">porfavor ingrese telefono <a href="/misdatos">cambiar</a> </td>
            </tr>
            
        </table>
        <div class="mb-4">
            <button class="btn-outline-success" (click)="realizarOrden()">Pagar</button>
        
        <div *ngIf="spinner" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
            <span class="mx-4 d-flex-row {{classcolor}}" (click)="realizarOrden()">{{messageOrden}}</span>
        </div>
    </div>

</div>
