<div class="container-home border border-dark mx-5">
    <!-- Current Cart -->
    <div class="d-flex justify-content-center col-3 my-3">
        <h2 class="border border-dark border-rounded rounded-pill px-5">Current Cart</h2>
    </div>
    <div class="col-6 d-flex-col justify-content-center align-items-center mx-auto">
        <button class="btn btn-outline-success col-12 mb-3" routerLink="/orders">Order</button>
        <table class="table table-bordered border-dark col-12 shadow mx-auto">
            <tr class="">
                <td colspan="7" class="p-2">Total Items</td>
                <td colspan="5" class="fw-bold text-dark">{{cart.cartItems.length}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">Total Price</td>
                <td colspan="5" class="fw-bold text-danger">{{UserPaymentInfo.montoTotal}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">Shipping Charges</td>
                <td colspan="5" class="fw-bold text-danger">{{UserPaymentInfo.costoEnvio}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">Discount</td>
                <td colspan="5" class="fw-bold text-success">{{UserPaymentInfo.montoDescuento}}</td>
            </tr>
            <tr>
                <td colspan="7" class="p-2">You have to pay</td>
                <td colspan="5" class="fw-bold text-success">{{UserPaymentInfo.precioPagar}}</td>
            </tr>
        </table>
    </div>
    <!-- Cart items -->
    <div class="">
        <div class="d-flex justify-content-center col-3 my-3">
            <h2 class="ms-5 border border-dark border-rounded rounded-pill px-5">Cart Items</h2>
        </div>
        <div class="row col-8 d-flex justify-content-center mx-auto g-5">
            <div class="col-6 w-5" *ngFor="let item of cart.cartItems">
                <!-- es item.producto porque la api me manda con ese nombre -->
                <app-product [view]="'cartitem'" [product]="item.producto"></app-product>
            </div>
        </div>
    </div>
    <!-- PrevCartItems -->
    <div class="">
        <div class="d-flex justify-content-center col-3 my-5">
            <h2 class="ms-5 border border-dark border-rounded rounded-pill px-5">Prev Carts</h2>
        </div>
        <div *ngFor="let prod of cartPrevious">
            <div class="card col-8 d-flex mx-auto my-4">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="fw-bold">Ordered On: <span >{{prod.orderedon|date:"dd-MMM-yyyy"}}</span></h5>
                    <h5 class="fw-bold">Items:{{prod.cartItems.length}}</h5>
                    <h5 class="fw-bold">Precio Pagado: {{_utilityService.calularPrecioPagado(prod)}}</h5>
                </div>
                      
                <div class="card-body d-flex gap-4">
                    <div class="col-2 px-2" *ngFor="let item of prod.cartItems">
                        <app-product [view]="'prevcartitem'" [product]="item.producto"></app-product>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


