<!-- vista-grid -->
<div class="grid-view" *ngIf="view=='grid'">
    <div class="card">
        <div class="card-header text-center">
            <h1 class="card-title">Header</h1>
        </div>
        <div>
            <img class="card-img-top" src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}.webp" alt="" appHeaderProductDetails [prodid]="product.id">   
        </div>
        
        <div class="card-body text-center">
            <h3 class="card-title">{{product.title}}</h3>
            <h3 class="card-subtitle text-primary">{{product.quantity}} products disponibles</h3>
            <p class="card-text">{{product.description}}</p>

            <h1 class="text-success">{{utilityService.calcularFinalPrice(product.price, product.offer.discount)}} <span class="text-primary">-{{product.offer.discount}}%</span></h1>
            <h2 class="text-danger text-decoration-line-through">S/.{{product.price}}</h2>
        </div>
    
        <div class="card-footer text-center d-grid gap-2">
            <button class="btn btn-outline-success" [disabled]="!utilityService.estaLogeado()" (click)="utilityService.addNroItem(product)">Add Cart <span *ngIf="!utilityService.estaLogeado()">(logeate)</span></button>
        </div>
    </div>
</div>
<!-- vista-list -->
<div class="list-view" *ngIf="view=='list'">
    <div class="card d-flex flex-column">
        <div class="row">
            <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded-start" src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}.webp" alt="" appHeaderProductDetails [prodid]="product.id">   
            </div>
            <div class="col">
                <div class="card-header text-center">
                    <h1 class="card-title">Header</h1>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{product.title}}</h2>
                    <h3 class="card-subtitle text-primary">{{product.quantity}} products disponibles</h3>
                    <p class="card-text">{{product.description}}</p>
                </div>
            
                <div class="card-body">
                    <h1 class="text-success">{{utilityService.calcularFinalPrice(product.price, product.offer.discount)}}  <span class="text-primary">-{{product.offer.discount}}%</span></h1>
                    <h2 class="text-danger text-decoration-line-through">{{product.price}}</h2>
                </div>
                <div class="card-footer text-center d-grid gap-2">
                    <button class="btn btn-outline-success" [disabled]="!utilityService.estaLogeado()" (click)="utilityService.addNroItem(product)">Add Cart <span *ngIf="!utilityService.estaLogeado()">(logeate)</span></button>
                </div>
            </div>
        </div>
    </div>       
</div>
<!-- vista-cartitems -->
<div class="cartitem-view" *ngIf="view=='cartitem'">
    <div class="card">
        <div class="row">
            <div class="col-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded-start" src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}.webp" alt="" appHeaderProductDetails [prodid]="product.id">   
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h3 class="card-title">{{product.title}}</h3>
                    <h4 class="text-success">{{utilityService.calcularFinalPrice(product.price, product.offer.discount)}}  <span class="text-primary">-{{product.offer.discount}}%</span></h4>
                    <h4 class="text-danger text-decoration-line-through">{{product.price}}</h4>
                    <h5 class="card-subtitle text-primary">{{product.quantity}} productos disponibles</h5>
                </div>
                <div class="card-footer text-center d-grid gap-2">
                    <button class="btn btn-outline-danger">Remove from Cart</button>
                </div>
            </div>
        </div>
    </div>       
</div>
<!-- vista-prevcartitems -->
<div class="prevcartitem-view" *ngIf="view=='prevcartitem'">
    <div class="card">
        <div class="row d-flex justify-content-center">
            <div class="row col-md-8 overflow-hidden justify-content-center align-items-center">
                <img class="img-fluid rounded-start" src="../../assets/images/{{product.productCategory.subCategory}}/{{product.id}}.webp" alt="" appHeaderProductDetails [prodid]="product.id">   
            </div>
            <div class="row">
                <h3 class="card-title text-center">Title</h3>
            </div>
        </div>
    </div>       
</div>


