<div class="card">
    <div class="card-header">
        <h1>Title</h1>
    </div>
        <div class="card-body">
            <h2 class="text-primary">12 products disponibles</h2>
            <p>Description</p>
        </div>

    <div class="card-body">
        <h1 class="text-success">FinalPrice <span class="text-primary">-20%</span></h1>
        <h2 class="text-danger text-decoration-line-through">Original Price</h2>
    </div>
    <div class="card-footer d-grid gap-2">
        <button class="btn btn-outline-success">Add Cart</button>
    </div>
</div>
